.glass {
  background: rgb(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255, 0.2);
}
.glass_accueil {
  background: rgba(
    255,
    255,
    255,
    0.05
  ); 
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(0.8px); 
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.glassomorph_effect_bis {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 8px rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}
.glassomorph_effect_no_radius {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease-in-out;
}

.glassomorph_effect {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  /* border-radius: 20px; */
  border: 1px solid rgba(255, 255, 255, 0.2);
}
