.swiper-slide {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.swiper-slide:nth-child(1n) {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Couleurs pastel douces */
.slide-index-1 {
  background-color: hsl(198, 100%, 89%, 0.3);
}
.slide-index-2 {
  background-color: rgba(255, 223, 186, 0.3);
}

.slide-index-3 {
  background-color: rgba(255, 255, 186, 0.3);
}

.slide-index-4 {
  background-color: rgba(186, 255, 201, 0.3);
}

.slide-index-5 {
  background-color: rgba(186, 225, 255, 0.3);
}

.slide-index-6 {
  background-color: rgba(218, 186, 255, 0.3);
}

.slide-index-7 {
  background-color: rgba(255, 204, 229, 0.3);
}

.slide-index-8 {
  background-color: rgba(204, 255, 229, 0.3);
}

.slide-index-9 {
  background-color: rgba(229, 204, 255, 0.3);
}

.slide-index-10 {
  background-color: rgba(204, 229, 255, 0.3);
}
