.name_title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: clamp(2rem, 7vw, 5rem);
  font-weight: bold;
  pointer-events: none;
  margin-bottom: 100px;
}

.name_title span {
  margin: 0 5px;
  display: inline-block;
  position: relative;
  color: rgb(255, 255, 255);
  max-width: 100%;
  /* -webkit-text-stroke: 2px rgba(0, 0, 0, 0.6); */
  word-break: break-word;
  white-space: pre-wrap;
  opacity: 0;
}
.name_title span:nth-child(odd),
.name_title span:nth-child(even) {
  transform: none;
}

/* Profession */
.container_profession {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 30;
}

.name_profession {
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  pointer-events: none;
}

.name_profession span {
  position: relative;
  margin: 5px 5px;
  display: inline-block;
  color: transparent;
  opacity: 0;
  color: white;
  /* -webkit-text-stroke: 2px rgba(0, 0, 0, 0.6); */
  /* -webkit-text-stroke: 2px rgba(255, 255, 255, 0.6); */
}

/* Animations */
.show {
  animation: scaleOpacity 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.hide {
  opacity: 0;
}

@keyframes scaleOpacity {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Par défaut sur mobile : pas de translateY */
.name_profession span:nth-child(odd),
.name_profession span:nth-child(even) {
  transform: none;
}

/* À partir de 1024px : appliquer le décalage */
@media screen and (min-width: 1024px) {
  .name_profession span:nth-child(odd) {
    transform: translateY(-10px);
  }

  .name_profession span:nth-child(even) {
    transform: translateY(10px);
  }

  .name_profession span.show:nth-child(odd) {
    animation: scaleOpacityUp 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }

  .name_profession span.show:nth-child(even) {
    animation: scaleOpacityDown 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }
  /* Name TITLE */
  .name_title span:nth-child(odd) {
    transform: translateY(-10px);
  }

  .name_title span:nth-child(even) {
    transform: translateY(10px);
  }

  .name_title span.show:nth-child(odd) {
    animation: scaleOpacityUp 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }

  .name_title span.show:nth-child(even) {
    animation: scaleOpacityDown 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }
  /* Name TITLE */

  @keyframes scaleOpacityUp {
    0% {
      opacity: 0;
      transform: scale(1) translateY(-10px);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.2) translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(-10px);
    }
  }

  @keyframes scaleOpacityDown {
    0% {
      opacity: 0;
      transform: scale(1) translateY(10px);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.2) translateY(10px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(10px);
    }
  }
}
