@import 'tailwindcss';
@import url('./styles/animation.css');
@import url('./styles/project.css');
@import url('./styles/glass.css');
@import url('./styles/accueil.css');
@import url('./styles/swiper-custom.css');
@theme {
  --animate-fadeIn: fadeIn 2s ease-in-out forwards;
  --animate-shrinkHeight: shrinkHeight 2s ease-in-out forwards;
  --animate-fadeUp: fadeUp 1s ease-out forwards;
  --font-sans: var(--font-poppins);
  --font-robotoCondensed: var(--font-robotoCondensed);
  --font-roboto: var(--font-roboto);
  --font-montserrat: var(--font-montserrat);
  --font-mono: var(--font-mono);
  --font-ptSansNarrow: var(--font-ptSansNarrow);
  --font-raleway: var(--font-raleway);
  --font-quattrocento: var(--font-quattrocento);
}
html,
body {
  width: 100%;
  background: black;
  font-family: var(--font-poppins);
  transition:
    background 0.3s,
    color 0.3s;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media screen and (min-width: 768px) {
  html,
  body {
    overflow: hidden;
    height: 100dvh;
  }
}
body {
  display: flex;
}
button {
  cursor: pointer;
}

.yellow-bg {
  background: #f2c655;
}

.custom_shadow-button {
  filter: drop-shadow(0px 20px 50px rgba(54, 233, 114, 0.6));
  box-shadow:
    0px 4px 8px rgba(0, 0, 0, 0.25),
    0px 2px 4px rgba(54, 114, 233, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.027);
  transition: all 0.4s ease;
}

.custom_shadow-button:hover:not(:disabled) {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #0a0a0a00;
  color: black;
  box-shadow: none;
}
.scroll-container::-webkit-scrollbar {
  opacity: 0;
}

.scroll-container::-webkit-scrollbar-thumb {
  opacity: 0;
}

.scroll-container::-webkit-scrollbar-track {
  opacity: 0;
}

.exit-right-animation {
  position: absolute;
  width: 99%;
  height: 85%;
  top: 10%;
  left: 0%;
  transition: all ease-in-out 1s;
  transform: translateX(-250%);
  opacity: 0;
}
.exit-left-animation {
  position: absolute;
  width: 99%;
  height: 85%;
  top: 10%;
  left: 0%;
  transition: all ease-in-out 1s;
  transform: translateX(250%);
  opacity: 0;
}
.enter-animation {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
  transition: all ease-in-out 1s;
  opacity: 1;
}

.enter-top-animation {
  position: relative;
  width: 100%;
  height: 99%;
  transform: translateY(0%);
  transition: all ease-in-out 1s;
  opacity: 1;
}
.exit-bottom-animation {
  position: absolute;
  width: 99%;
  height: 85%;
  top: 10%;
  left: 0%;
  transition: all ease-in-out 1s;
  transform: translateY(250%);
  opacity: 0;
}
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}
/*  TEST CSS BUILD */
.glass {
  background: rgb(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255, 0.2);
}
.glass_accueil {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.8px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.glassomorph_effect_bis {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 8px rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}
.glassomorph_effect_no_radius {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease-in-out;
}

.glassomorph_effect {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  /* border-radius: 20px; */
  border: 1px solid rgba(255, 255, 255, 0.2);
}
